<div class="container all_games">
  <nav-bar></nav-bar>

  <div class="row">
    <div class="col-md-offset-4">
      <h1>Pick a Console</h1>
    </div>
    <div class="horizontal">

        <div class="table">
            <article>
              <a href="#nesGamesModal" data-toggle="modal">
                <div>
                  <h2>NES</h2>
                  <img src="images/console_games/nintendo-nes-icon.png">
                </div>
              </a>
            </article>
            <!-- Repeat this part as many times as necessary. -->
            <article>
              <a href="#nes64GamesModal" data-toggle="modal">
                <div>
                  <h2>Nintendo 64</h2>
                  <img src="images/console_games/nintendo-nintendo-64-icon.png">
                </div>
              </a>
            </article>
            <article>
              <a href="#snesGamesModal" data-toggle="modal">
                <div>
                  <h2>Super NES</h2>
                  <img src="images/console_games/nintendo-super-nes-icon.png">
                </div>
              </a>
            </article>
        </div>
    </div>
<!-- NES modal start -->
    <div class="modal fade" id="nesGamesModal">
    <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="modal-title">GAME LIST</h3>
            </div>
            <div class="modal-body">
          <h5 class="text-center">Nintendo</h5>
              <table class="table table-striped" id="tblGrid">
                <thead id="tblHead">
                  <tr>
                    <th>Game title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                     Zelda
                    </td>
                    <td class="text-right">
                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->
                    </td>
                  </tr>
                  <tr>
                    <td>Metroid</td>
                    <td class="text-right">

                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->

                    </td>
                  </tr>
                  <tr>
                    <td>Mario Kart</td>
                    <td class="text-right">
                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <!-- <input type="button" class="btn btn-warning btn-sm pull-right" value="Edit"> -->
                <div class="clearfix"></div>
              </div>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save Changes</button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
<!-- NES modal end -->

<!-- Nintendo 64 modal start -->
    <div class="modal fade" id="nes64GamesModal">
    <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="modal-title">GAME LIST</h3>
            </div>
            <div class="modal-body">
          <h5 class="text-center">Nintendo 64</h5>
              <table class="table table-striped" id="tblGrid">
                <thead id="tblHead">
                  <tr>
                    <th>Game title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                     Zelda
                    </td>
                    <td class="text-right">
                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->
                    </td>
                  </tr>
                  <tr>
                    <td>Metroid</td>
                    <td class="text-right">

                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->

                    </td>
                  </tr>
                  <tr>
                    <td>Mario Kart</td>
                    <td class="text-right">
                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <!-- <input type="button" class="btn btn-warning btn-sm pull-right" value="Edit"> -->
                <div class="clearfix"></div>
              </div>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save Changes</button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
<!-- Nintendo 64 modal end -->

<!-- Super NES modal start -->
    <div class="modal fade" id="snesGamesModal">
    <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 class="modal-title">GAME LIST</h3>
            </div>
            <div class="modal-body">
          <h5 class="text-center">Super Nintendo</h5>
              <table class="table table-striped" id="tblGrid">
                <thead id="tblHead">
                  <tr>
                    <th>Game title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                     Zelda
                    </td>
                    <td class="text-right">
                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->
                    </td>
                  </tr>
                  <tr>
                    <td>Metroid</td>
                    <td class="text-right">

                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->

                    </td>
                  </tr>
                  <tr>
                    <td>Mario Kart</td>
                    <td class="text-right">
                      <!-- start of star rating -->
                    <button type="button" class="btn btn-default " data-dismiss="modal">Add+</button>
                      <!-- end of star rating -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <!-- <input type="button" class="btn btn-warning btn-sm pull-right" value="Edit"> -->
                <div class="clearfix"></div>
              </div>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save Changes</button>
            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
<!-- Super NES modal end -->

  </div>


</div>
