<div id='wrapper'class="gamerz_body">
  <nav-bar></nav-bar>

<u><h3 class=''>List of Gamerz</h3></u>
     <div class="all_profs">

      <div class="col-md-6">
        <a href='/indGamerz'>
        <img class='thumb_pics img-circle' src="images/prof_pic.png" alt="" />
        </a>
        <h4>Dr4g0n_Slay3r</h4>
      </div>

      <div class="col-md-6">
        <a href='/indGamerz'>
        <img class='thumb_pics img-circle' src="images/prof_pic.png" alt="" />
        </a>
        <h4>Dr4g0n_Slay3r</h4>
      </div>

      <div class="col-md-6">
        <a href='/indGamerz'>
        <img class='thumb_pics img-circle' src="images/prof_pic.png" alt="" />
        </a>
        <h4>Dr4g0n_Slay3r</h4>
      </div>

     </div>



</div>
