<div id='wrapper'class="home_body" ng-init="view.getGames()">
  <nav-bar></nav-bar>
  <div class="container">
    <a href='/login' ng-click='view.deleteAcc(view.gId)'><h4 id='delete_acc'>delete account</h4></a>
      <div class="row">
  <br>
  <br>
  <!-- ng-click='view.getGames(view.gId)' -->
      	<div class="span3 well">
          <div class="center_prof" >
            <center>
              <a href="#myModal1" data-toggle="modal"><img src="{{view.gi}}" name="aboutme" width="140" height="140" class="img-circle"></a>
              <h3>{{view.gn}}</h3>
              <em>{{view.gq}}</em>
              <h4>Click my face for a list of games</h4>
              <!-- <p>By the way,<br><a target="_blank" href="http://bootsnipp.com/TXTCLASS/snippets/25zz">there's a fresh 3.1.0 version ready</a></p> -->
            </center>

          </div>

          <div class="modal fade" id="myModal1">
          <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">GAME LIST</h3>
                  </div>
                  <div class="modal-body">
          		  <h5 class="text-center">Your Quest!</h5>
                    <table class="table table-striped" id="tblGrid">
                      <thead id="tblHead">
                        <tr>
                          <th>Console</th>
                          <th>Game title</th>
                          <th class="text-right">Rating</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat='post in sug'>
                        <tr>
                          <td>{{post.console}}</td>
                          <td>{{post.game_name}}</td>
                          <td class="text-right">
                                <select ng-model='newRtg' value=''>
                                  <!-- <span ng-if='view.rtgs[$index].game_id = post.id'> -->
                                  <option ng-if='view.rtgs[$index].game_id = post.id' ng-selected='{{view.rtgs[$index].rating}}' >
                                  <strong>{{view.rtgs[$index].rating}}</strong>
                                  </option>
                                  <!-- </span> -->

                                  <option value='1'>1</option>
                                  <option value='2'>2</option>
                                  <option value='3'>3</option>
                                  <option value='4'>4</option>
                                  <option value='5'>5</option>
                                </select>
                          </td>



                          <td>
                            <button ng-click='view.findRtg(view.gId,post.id,newRtg)' type="button" class'btn btn-sm' name="button">Save</button>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                    <!-- <div class="form-group">
                      <input type="button" class="btn btn-warning btn-sm pull-right" value="Edit">
                      <div class="clearfix"></div>
                    </div> -->
          		</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save Changes</button> -->
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

  </div>
  </div>
  </div>
  </div>

</div>
