<div id='wrapper'class="home_body">
  <nav-bar></nav-bar>
  <div class="container">
      <div class="row">
  <br>
  <br>
      	<div class="span3 well">
          <div class="center_prof">
            <center>
              <a href=".modal" data-toggle="modal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
              <h3>4ttackt1c</h3>
              <em>Do. Or do not. There is no try.</em>
              <h4>Click my face for a list of games</h4>
              <!-- <p>By the way,<br><a target="_blank" href="http://bootsnipp.com/TXTCLASS/snippets/25zz">there's a fresh 3.1.0 version ready</a></p> -->
            </center>

          </div>

          <div class="modal fade" id="myModal">
          <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">GAME LIST</h3>
                  </div>
                  <div class="modal-body">
          		  <h5 class="text-center">Pwn</h5>
                    <table class="table table-striped" id="tblGrid">
                      <thead id="tblHead">
                        <tr>
                          <th>Console</th>
                          <th>Game title</th>
                          <th class="text-right">Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>NES</td>
                          <td>
                           Zelda
                          </td>
                          <td class="text-right">
                            <!-- start of star rating -->

                            <span class="rating">
                              <input type="radio" class="rating-input"
                              id="rating-input-1-5" name="rating-input-1">
                              <label for="rating-input-1-5" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-4" name="rating-input-1">
                              <label for="rating-input-1-4" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-3" name="rating-input-1">
                              <label for="rating-input-1-3" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-2" name="rating-input-1">
                              <label for="rating-input-1-2" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-1" name="rating-input-1">
                              <label for="rating-input-1-1" class="rating-star"></label>
                            </span>

                            <!-- end of star rating -->
                          </td>
                        </tr>
                        <tr>
                          <td>SNES</td>
                          <td>Metroid</td>
                          <td class="text-right">

                            <!-- start of star rating -->

                            <span class="rating">
                              <input type="radio" class="rating-input"
                              id="rating-input-1-5" name="rating-input-1">
                              <label for="rating-input-1-5" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-4" name="rating-input-1">
                              <label for="rating-input-1-4" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-3" name="rating-input-1">
                              <label for="rating-input-1-3" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-2" name="rating-input-1">
                              <label for="rating-input-1-2" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-1" name="rating-input-1">
                              <label for="rating-input-1-1" class="rating-star"></label>
                            </span>

                            <!-- end of star rating -->

                          </td>
                        </tr>
                        <tr>
                          <td>N64</td>
                          <td>Mario Kart</td>
                          <td class="text-right">
                            <!-- start of star rating -->

                            <span class="rating">
                              <input type="radio" class="rating-input"
                              id="rating-input-1-5" name="rating-input-1">
                              <label for="rating-input-1-5" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-4" name="rating-input-1">
                              <label for="rating-input-1-4" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-3" name="rating-input-1">
                              <label for="rating-input-1-3" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-2" name="rating-input-1">
                              <label for="rating-input-1-2" class="rating-star"></label>
                              <input type="radio" class="rating-input"
                              id="rating-input-1-1" name="rating-input-1">
                              <label for="rating-input-1-1" class="rating-star"></label>
                            </span>

                            <!-- end of star rating -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-group">
                      <input type="button" class="btn btn-warning btn-sm pull-right" value="Edit">
                      <div class="clearfix"></div>
                    </div>
          		</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save Changes</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        <!-- start of star rating -->

        <!-- <span class="rating">
          <input type="radio" class="rating-input"
          id="rating-input-1-5" name="rating-input-1">
          <label for="rating-input-1-5" class="rating-star"></label>
          <input type="radio" class="rating-input"
          id="rating-input-1-4" name="rating-input-1">
          <label for="rating-input-1-4" class="rating-star"></label>
          <input type="radio" class="rating-input"
          id="rating-input-1-3" name="rating-input-1">
          <label for="rating-input-1-3" class="rating-star"></label>
          <input type="radio" class="rating-input"
          id="rating-input-1-2" name="rating-input-1">
          <label for="rating-input-1-2" class="rating-star"></label>
          <input type="radio" class="rating-input"
          id="rating-input-1-1" name="rating-input-1">
          <label for="rating-input-1-1" class="rating-star"></label>
        </span> -->

        <!-- end of star rating -->

  </div>
  </div>
  </div>
  </div>

</div>
