<div id="wrapper">
  <div class="ind_gamerz">
    <nav-bar></nav-bar>
    <a href="/gamerz">
      <div class="col-md-offset-1">
        <h1>Dr4g0n_Slay3r</h1>
        <br>
      </div>
    </a>
    <table class="table ">
        <thead>
            <tr>
                <th>Console</th>
                <th>Game Title</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>N64</td>
                <td>Mario Party</td>
                <td>
                  star star
                </td>
                <td>
                  <button class=''type="button" name="button">Comment</button>
                </td>
            </tr>
            <tr>
                <td>Sega</td>
                <td>Sonic</td>
                <td>star star</td>
                <td>
                  <button class=''type="button" name="button">Comment</button>
                </td>
            </tr>
            <tr>
                <td>SNES</td>
                <td>Mario 4</td>
                <td>star star</td>
                <td>
                  <button class=''type="button" name="button">Comment</button>
                </td>
            </tr>
        </tbody>
    </table>

  </div>
</div>
