<div id="wrapper">
  <div class="ind_gamerz">
    <nav-bar></nav-bar>
    <a href="/gamerz" >
      <div class="col-md-offset-1">
        <h1>{{view.gt}}</h1>
        <br>
      </div>
    </a>
    <table class="table table-striped" id="tblGrid">
        <thead>
            <tr>
                <th>Console</th>
                <th>Game Title</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody ng-repeat='post in sug'>

            <tr>
              <td>{{post.console}}</td>
              <td>{{post.game_name}}</td>
              <!-- <span ng-if='rtgs[$index].game_id = post.id'> -->
              <td class="text-right">
                <select  ng-model='rtgSelected' >
                  <option ng-if='rtgs[$index].game_id  = post.id' ng-selected='{{rtgs[$index].rating}}' >
                  {{rtgs[$index].rating}}
                  </option>
                </select>
              </td>
              <!-- </span> -->

              <td>
                <i ng-click='up(view.vote[$index]); view.showAllComments(view.gmrId,post.id)' class="fa fa-arrow-up" aria-hidden="true"></i>
                <i ng-click='down(view.vote[$index]); view.showAllComments(view.gmrId,post.id)' class="fa fa-arrow-down" aria-hidden="true"></i>
                <p class='upvotes' ng-class="{'downvotes' : view.vote[$index].votes < 0}">{{view.vote[$index].votes}}</p>
              </td>
              <td>
                <a ng-click='view.showAllComments(view.gmrId,post.id)' href="#myModal2" data-toggle="modal"><button class=''type="button" name="button">Comment</button></a>
              </td>

              <div class="modal fade" id="myModal2">
              <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title">Comments</h3>
                      </div>
                      <div class="modal-body">
              		  <h5 class="text-center">{{post.game_name}}</h5>
    <!--        start comment box       -->
                  <div class="detailBox">
                    <div class="actionBox">
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                  <img src="http://placekitten.com/50/50" />
                                </div>
                                <div class="commentText">
                                    <p class="">Hello Meow Meow Meow.</p> <span class="date sub-text">on March 5th, 2014</span>

                                </div>
                            </li>
                            <li>
                                <div class="commenterImage">
                                  <img src="http://placekitten.com/45/45" />
                                </div>
                                <div class="commentText">
                                    <p class="">Hello this is a test meow and this meow is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                                </div>
                            </li>
                            <li>
                                <div class="commenterImage">
                                  <img src="http://placekitten.com/40/40" />
                                </div>
                                <div class="commentText">
                                    <p class="">Hello this is a test MEOW.</p> <span class="date sub-text">on March 5th, 2014</span>

                                </div>
                            </li>
                            <li ng-repeat = 'obj in view.showAllComm'>
                              <div class="commenterImage">
                                <img src="{{view.gmrIcn}}" />
                              </div>
                              <div class="commentText">
                                  <p class="">{{obj.comments}}</p> <span class="date sub-text">on October 13th, 2016</span>
                              </div>
                            </li>
                        </ul>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input ng-model='comments'class="form-control" type="text" placeholder="Your comments" />
                            </div>
                            <div class="form-group">
                                <button ng-click='view.addComments(view.gmrId,view.currentGameId,comments); view.showAllComments(view.gmrId,view.currentGameId) 'class="btn btn-default">Add</button>
                            </div>
                        </form>
                    </div>
                  </div>
                <!--        end comment box       -->
              		</div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save Changes</button> -->
                      </div>

                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </tr>


        </tbody>
    </table>

  </div>
</div>
