<div id="wrapper">
  <div class="ind_gamerz">
    <nav-bar></nav-bar>
    <a href="/gamerz" >
      <div class="col-md-offset-1">
        <h1>{{view.gt}}</h1>
        <br>
      </div>
    </a>
    <table class="table ">
        <thead>
            <tr>
                <th>Console</th>
                <th>Game Title</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody ng-repeat='post in sug'>

            <tr>
              <td>{{post.console}}</td>
              <td>{{post.game_name}}</td>
              <td class="text-right">
                <select ng-model='rtgSelected' >
                  <option ng-selected='{{rtgs[$index].rating}}' >
                    {{rtgs[$index].rating}}
                  </option>
                </select>
              </td>

              <td>
                <button class=''type="button" name="button">Comment</button>
              </td>
            </tr>


        </tbody>
    </table>

  </div>
</div>
