<div id='wrapper' class='login_body'>


  <div class="container" >

      <audio controls autoplay>
        <source src="images/LOZ.mp3" type="audio/mpeg">
      </audio>

      

      <div class="row vertical-offset-100 login_div">
      	<div class="col-md-4 col-md-offset-4">
      		<div class="panel panel-default">
  			  	<div class="panel-heading">
              <h3 id='notfound' ng-show='blank_gt' class='panel-title'>Please enter a Gamer Tag or Password!</h3>
              <h3 id='notfound' ng-show='not_found' class='panel-title'>NOT FOUND!</h3>
              <h3 id='notfound' ng-show='pw_not_found' class='panel-title'>Incorrect Password!</h3>
  			    	<h3 class="panel-title">Please sign in</h3>
  			 	</div>
  			  	<div class="panel-body">
  			    	<form accept-charset="UTF-8" role="form">
                      <fieldset>
  			    	  	<div class="form-group">
  			    		    <input ng-model='gt' class="form-control" placeholder="Gamer_Tag" name="email" type="text">
  			    		</div>
  			    		<div class="form-group">
  			    			<input ng-model='gpw' class="form-control" placeholder="Password" name="password" type="password" value="">
  			    		</div>
  			    		<div class="checkbox">
  			    	    	<label>
  			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
  			    	    	</label>
  			    	    </div>
  			    		<input class="btn btn-lg btn-success btn-block" type="submit" ng-click="view.login(gt,gpw); view.oneLogin(gt)" value="Login">
                <div class="">
                    <a href='/createAcc'>
                      <h4>Create a Gamer profile</h4>
                    </a>
                  </div>
  			    	</fieldset>
  			      	</form>
  			    </div>
  			</div>
  		</div>
  	</div>
  </div>

</div>
