<div class="container nav2">
<div class="row">
  <div class="col-md-12">
  <a href="/nav" ng-click='view.callAllG()'>
    <div class="col-md-offset-5">
      <h1>retBox <img class='nav_logo' src="images/pacMan_eats.png" alt="" /></h1>
    </div>
  </div>
  </a>
  <a href="/home">
  <div class="col-md-6 nav_div ">
    <h1>Home</h1>
    <img class='' src="images/bw_ghost.jpg" alt="" />
  </div>
</a>
<a href="/gamerz">
  <div class="col-md-6 nav_div ">
    <h1>G4m3rz</h1>
    <img class='' src="images/blue-ghost.png" alt="" />
  </div>
</a>
<a href="/games" ng-click='view.callAllG()'>
  <div class="col-md-6 nav_div">
    <h1>Consoles/Games</h1>
    <img class='' src="images/bw_ghost.jpg" alt="" />
  </div>
</a>
<a href="/play">
  <div class="col-md-6 nav_div">
    <h1>Ready!</h1>
    <img class='' src="images/blue-ghost.png" alt="" />
  </div>
</a>
</div>

</div>
