<div id="wrapper" class='createAcc'>
<div class="row">
  <div class="col-lg-4 well">
    <h1>Gamer Registration Form</h1>
  </div>
  	<div class="col-lg-12 well">
  	<div class="row">
  				<form>
  					<div class="col-sm-12">
  						<div class="row">
  							<div class="col-sm-6 form-group">
  								<label>Gamer Tag</label>
  								<input ng-model='gamerTag'type="text" placeholder="Enter Gamer Tag Here.." class="form-control">
  							</div>
  							<div class="col-sm-6 form-group">
  								<label>Password</label>
  								<input ng-model='password'type="text" placeholder="Enter Password Here.." class="form-control">
  							</div>
  						</div>
              <div class="row">
              <div class="col-sm-4 form-group">

                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                  <label>Image <img class='sml_img' ng-src={{view.picSelected}} alt="" /></label>
                <span id="selected" class="caret"></span></button>
                <div ng-model='selectPic' class="dropdown-menu col-sm-4 hover09">
                  <ul>
                    <li ng-repeat='icon in view.gameIcons track by $index' ng-class='{active : isSelected(selectPic)}' ng-click='view.showMe(icon)'><a ng-model='selectPic' class='active'><img class='sml_img' ng-src="{{icon}}" alt="" /></a></li>
                  </ul>
                </div>
              </div>
  							<div class="col-sm-6 col-md-offset-2 form-group">
  								<label>Gamer Quote</label>o
  								<input ng-model='gamerQuote'type="text" placeholder="It's a-me, Mario!" class="form-control" value="">
  							</div>
  					<button type="button" ng-show='!existed' ng-click='view.getJson(gamerTag, password, view.picSelected, gamerQuote )' class="btn btn-lg btn-info">Submit</button>
            <a ng-href='/login'><button type="button" class="btn btn-lg btn-info" ng-show='existed'>Login</button></a>
            <h4 ng-show='existed' class="pull-right">Gamer Tag Already Exist!</h4>
  					</div>
  				</form>
  				</div>
  	</div>
</div>

</div>
